<div class="container"
     fxLayout="row wrap" fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0px">
  <mat-toolbar fxFlex="100%">
    <span>Trade History</span>
  </mat-toolbar>
<mat-table [dataSource]="trades" class="mat-elevation-z8" fxFlex="100%">
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
    <mat-cell class="trade-cell" *matCellDef="let trade">{{trade.time}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell class="trade-cell" *matCellDef="let trade">{{trade.price.toFixed(2)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell class="trade-cell" *matCellDef="let trade">{{trade.quantity}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: cols;"></mat-row>
</mat-table>
</div>
