<div class="container"
     fxLayout fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="10px">
  <div fxFlex="50%" style="display: block">
    <app-order-book></app-order-book>
  </div>
  <div fxFlex="50%" style="display: block">
    <app-trade-history></app-trade-history>
  </div>
</div>

