.bid-header-cell {
  display: flex !important;
  justify-content: flex-end !important;
}

.bid-cell {
  color: rgb(0, 191, 255);
  background-color: rgb(63,63,79);
  display: flex !important;
  justify-content: flex-end !important;
}

.ask-cell {
  color: rgb(255, 0, 191);
  background-color: rgb(79,63,63);
}
