<div class="container"
     fxLayout="row wrap" fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0px">
<mat-toolbar fxFlex="100%">
  <span>Order Book</span>
</mat-toolbar>
<mat-table [dataSource]="bidLadder" class="mat-elevation-z8" fxFlex="49%">
  <ng-container matColumnDef="bidQty">
    <mat-header-cell class="bid-header-cell" *matHeaderCellDef>Bid Qty</mat-header-cell>
    <mat-cell class="bid-cell" *matCellDef="let rung">{{rung.quantity}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="bidPx">
    <mat-header-cell class="bid-header-cell" *matHeaderCellDef>Bid Px</mat-header-cell>
    <mat-cell class="bid-cell" *matCellDef="let rung">{{rung.price.toFixed(2)}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="bidCols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: bidCols;"></mat-row>
</mat-table>
<div fxFlex="2%"></div>
<mat-table [dataSource]="askLadder" class="mat-elevation-z8" fxFlex="49%">
  <ng-container matColumnDef="askPx">
    <mat-header-cell *matHeaderCellDef>Ask Px</mat-header-cell>
    <mat-cell class="ask-cell" *matCellDef="let rung">{{rung.price.toFixed(2)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="askQty">
    <mat-header-cell *matHeaderCellDef>Ask Qty</mat-header-cell>
    <mat-cell class="ask-cell" *matCellDef="let rung">{{rung.quantity}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="askCols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: askCols;"></mat-row>
</mat-table>
</div>
