<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Instruments</mat-toolbar>
    <mat-nav-list>
      <!-- This is specific to Bazaar -->
      <a *ngFor="let instrument of instruments" [routerLink]="['instrument-detail', instrument]"
         mat-list-item>{{instrument}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- This is specific to Bazaar -->
      <span>Detail</span>
    </mat-toolbar>
    <div class="content padded" role="main">
      <!-- This is specific to Bazaar -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
